---
import { Image } from "astro:assets";
import { fetchAPI } from '../utils/api.js';
import capri from "../images/islands/capri.avif";
import iceland from "../images/islands/iceland.avif";
import maldives from "../images/islands/maldives.avif";
import panama from "../images/islands/panama.avif";
import puertoRico from "../images/islands/puerto-rico.avif";
import santorini from "../images/islands/santorini.avif";
import skellig from "../images/islands/skellig.avif";
import turkey from "../images/islands/turkey.avif";
import Stars from "./Stars.astro";


let res = await fetchAPI('recommendations', 800);
let recommended: any[] = await res.json();

recommended.forEach((item: any) => {
  let thumbnail: any;
  switch(item.name) {
    case 'capri':
      thumbnail = capri;
      break;
    case 'iceland':
      thumbnail = iceland;
      break;
    case 'maldives':
      thumbnail = maldives;
      break;
    case 'panama':
      thumbnail = panama;
      break;
    case 'puertoRico':
      thumbnail = puertoRico;
      break;
    case 'santorini':
      thumbnail = santorini;
      break;
    case 'skellig':
      thumbnail = skellig;
      break;
    case 'turkey':
      thumbnail = turkey;
      break;
  }
  item.thumbnail = thumbnail;
});
---

<div class="space-y-6">
  <div>
    <div class="text-lg font-medium text-white">
      Recommended trips <span class="text-teal-300">for you</span>
    </div>
    <div class="text-sm text-gray-400">
      Based on your preferences and travel history
    </div>
  </div>
  <div class="grid grid-cols-4 gap-6">
    {
      recommended.map(
        ({ thumbnail, alt, tag, title, stars, discount, price, was, cta }) => (
          <div class="col-span-2 md:col-span-1">
            <div class="group block">
              <div class="space-y-2">
                <>
                  <div class="relative aspect-square">
                    {tag && (
                      <div class="absolute left-2 top-2 z-10 flex">
                        <div class="rounded bg-gray-950/60 bg-gradient-to-tl from-teal-950/40 to-teal-600/40 border border-teal-600 px-1.5 text-xs font-medium leading-5 text-white">
                          {tag}
                        </div>
                      </div>
                    )}
                    <Image
                      {alt}
                      loading="lazy"
                      decoding="async"
                      class="rounded-lg group-hover:grayscale-0 group-hover:brightness-100 grayscale-[0.75] brightness-90 object-cover h-full w-full"
                      widths={[200, 300, 500]}
                      sizes="(min-width: 1024px) 175px, (min-width: 768px) 25vw, 50vw"
                      src={thumbnail}
                    />
                  </div>
                  <div class="truncate text-sm font-medium text-white group-hover:text-teal-300">
                    {title}
                  </div>
                  <Stars {stars} />
                  <div class="flex gap-x-1.5 items-center">
                    {discount && (
                      <div class="hidden sm:block px-2 rounded-full text-sm font-bold leading-snug bg-gradient-to-tl from-teal-950/40 to-teal-600/40 border border-teal-600">
                        {discount}
                      </div>
                    )}
                    <div class="flex">
                      <div
                        class:list={[
                          "text-lg font-bold leading-snug",
                          discount ? "text-teal-300" : "text-white",
                        ]}
                      >
                        {price}
                      </div>
                    </div>
                    {was && (
                      <div class="text-xs self-start leading-snug text-gray-400 line-through">
                        {was}
                      </div>
                    )}
                  </div>
                  {cta && <div class="text-sm text-teal-300">{cta}</div>}
                </>
              </div>
            </div>
          </div>
        )
      )
    }
  </div>
</div>
